<ion-view view-title="Contact {{currentOrganization}}" ng-controller="ActionCtrl">
    <ion-content>
        <div class="row">
            <h3 style="text-align: center; width: 100%;">{{currentOrganization}}</h3>
        </div>

        <div class="row">
            <div class="col">
                <div class="features-box-icon" ng-click="call();">
                    <span aria-hidden="true" class="icon_phone"></span>
                    <button class="button button-clear">
                        CALL
                    </button>
                </div>

            </div>

            <div class="col">
                <div class="features-box-icon" ng-click="mail();">
                    <span aria-hidden="true" class="icon_mail"></span>
                    <button class="button button-clear">
                        MAIL
                    </button>
                </div>

            </div>

            <div class="col">
                <div class="features-box-icon" ng-click="tweet();">
                    <span aria-hidden="true" class="social_twitter"></span>
                    <button class="button button-clear">
                        TWEET
                    </button>
                </div>

            </div>

        </div>




    </ion-content>
    <div class="bar bar-footer">
        <div class="button-bar">
            <button class="button button-clear">
                Feedback
            </button>
            <button class="button button-clear">
                Support
            </button>
        </div>
    </div>
</ion-view>