<ion-view view-title="{{'ATTACHMENT.TITLE' | translate}}" ng-controller="DocumentCtrl" ng-init="load()">

    <ion-content>

        <ion-list>
            <ion-item ng-repeat="image in images" class="item item-image" style="padding: 10px;" ng-click="selectDocument(image);">
                <p>{{image.name | Filename}}</p>
                <img class="full-image" ng-src="{{urlForImage(image.url)}}" style="height: 300px;">


            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer" ng-show="cameraAvailable">
        <div class="button-bar">
            <button class="button button-clear" ng-click="addImage();">
                {{'ATTACHMENT.ADD' | translate}}
            </button>
            <button class="button button-clear" ng-click="load();">
                {{'ATTACHMENT.RELOAD' | translate}}
            </button>
        </div>
    </div>


</ion-view>