<ion-view>
    <ion-header-bar>
        <h1 class="title">{{'CHANGE_PASSWORD.TITLE' | translate}}</h1>
        <div class="buttons">
            <button class="button button-clear" ui-sref="root">{{'GENERIC_CLOSE' | translate}}</button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false">
        <form name="changePasswordForm" ng-submit="doChangePassword()" novalidate  ng-controller="RestorePasswordCtrl">
            <div class="list">

                <label class="item item-input">
                    <span class="input-label">{{'PASSWORD' | translate}}</span>
                    <input type="password" ng-model="newPassword" required>

                </label>
                <label class="item password-complexity row" ng-show="passwordComplexity">
                    <div class="col" ng-class="passwordComplexity"></div>
                </label>
                <label class="item item-input" ng-show="!changePasswordForm.newPassword.$pristine && changePasswordForm.newPassword.$invalid">
                    <p ng-show="changePasswordForm.newPassword.$error.required">{{'PASSWORD_REQUIRED_VALIDATOR' | translate}}</p>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'CHANGE_PASSWORD.REPEAT_PASSWORD' | translate}}</span>
                    <input type="password" ng-model="repeatPassword" required>
                </label>
                <label class="item item-input" ng-show="!changePasswordForm.repeatPassword.$pristine && !passwordMatch">
                    <p ng-show="!passwordMatch">{{'CHANGE_PASSWORD.PASSWORD_MATCH' | translate}}</p>
                </label>

                <label class="item">
                    <button class="button button-block button-assertive wrppr-action-button" ng-disabled="changePasswordForm.$invalid || !passwordMatch" type="submit">{{'CHANGE_PASSWORD.SUBMIT' | translate}}</button>
                </label>
                <label class="">
                    <button class="button button-block button-clear">{{'GENERIC.SUPPORT' | translate}}</button>
                </label>

            </div>
        </form>



    </ion-content>


</ion-view>
