<ion-view class="fill">
    <ion-content>
        <div class="row" style="height: 50%;"> </div>
        <div class="row">
            <h1 style="text-align: center; width: 100%;">Your business contacts</h1>

        </div>
        <div class="row">
            <h2 style="text-align: center; width: 100%;">Search any business, choose your question and contact</h2>
        </div>


    </ion-content>
    <div class="bar bar-footer" style="padding: 0px;">
        <div class="button-bar">
            <a class="button button-energized" ui-sref="login">Login</a>
            <a class="button button-assertive" ui-sref="register">Register</a>
        </div>
    </div>

</ion-view>