
<ion-view view-title="Favorites" ng-controller="MessageCtrl">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="loadCompanies();">
        </ion-refresher>
        <ion-list ng-init="loadCompanies();">
            <ion-item ng-repeat="company in companies track by company.OrgID"  ng-click="selectOrganisation(company);">
                {{company.orgName}}
                <span class="badge badge-balanced">{{company.count}}</span>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>