<ion-view view-title="Welcome">


    <ion-content>

        <div class="row">
            <div class="col"></div>
            <div class="col ion-ios-snowy" style="font-size: 100px; color: lightgray;"></div>

        </div>
        <div class="row"><h4 class="title" style="width: 100%; text-align: center;">Welcome, John</h4></div>
        <div class="row"><h4 class="title" style="width: 100%; text-align: center;">Now you can search any business, choose your question and contact</h4></div>
        <div class="row" style="height: 10%"></div>
        <div class="row">

            <button class="button button-large button-energized" style="width: 100%;" ui-sref="app.search">
                Search companies
            </button>

        </div>



    </ion-content>


</ion-view>