<ion-modal-view>
    <ion-header-bar align-title="left">
        <h1 class="title">{{'INTRO.TITLE' | translate}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="hideIntro();">{{'GENERIC_CLOSE' | translate}}</button>
        </div>
    </ion-header-bar>



    <ion-content style="margin-left: 20px; margin-right: 20px;">

        <div class="row button-block " style="text-align: center; display: block;">
            <div class="ion-coffee" style="font-size: 86px; color: lightgray;"></div>

        </div>
        <div class="row"><h4 class="title" style="width: 100%; text-align: center;">{{'INTRO.TEXT' | translate}}{{userName}}</h4></div>
        <div class="row"><h4 class="title" style="width: 100%; text-align: center;">{{'INTRO.DESCRIPTION' | translate}}</h4></div>
        <div class="row" style="height: 30%"></div>
        <div class="row">

            <button class="button button-large button-assertive wrppr-action-button" style="width: 100%;" ng-click="hideIntro()">
                {{'INTRO.SEARCH_BUTTON' | translate}}
            </button>

        </div>



    </ion-content>


</ion-modal-view>