<ion-view ng-controller="AuthorizationCtrl">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ui-sref="root">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="loginForm" ng-submit="doLogin()" novalidate>
      <div class="list">

        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" name="username" ng-model="loginData.UserName" required>

        </label>
        <label class="item item-input" ng-show="!loginForm.username.$pristine && loginForm.username.$invalid">
            <p ng-show="loginForm.username.$error.required">* Username is required</p>
        </label>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="loginData.Password" required>
        </label>
        <label class="item item-input" ng-show="!loginForm.password.$pristine && loginForm.password.$invalid">
              <p ng-show="loginForm.password.$error.required">* Password is required</p>
        </label>
        <label class="item">
          <button class="button button-block button-stable" ng-disabled="loginForm.$invalid" type="submit">Log in</button>
        </label>

      </div>
    </form>



  </ion-content>


</ion-view>
