
<ion-view view-title="Messages History" ng-controller="MessageCtrl">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="load();">
        </ion-refresher>
        <ion-list ng-init="load();">
            <ion-item ng-repeat="message in messages track by message.id" class="item-icon-left">
                   <div ng-switch="message.ChannelTypeID">
                        <i ng-switch-when="1" class="icon ion-ios-telephone"></i>
                        <i ng-switch-when="2" class="icon ion-email"></i>
                        <i ng-switch-when="3" class="icon ion-social-twitter"></i>
                    </div>
                    {{message.Question}}
                    <span class="item-note">
                     {{message.createdAt | date:'MM.dd.yyyy HH:mm'}}
                    </span>

            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>