<ion-view class="category-feeds-view bookmarks-view" ng-controller="MessageHistoryCtrl">
    <ion-nav-title>
        <span>{{'MESSAGES.HISTORY_TITLE' | translate}}</span>
    </ion-nav-title>
    <ion-content>
        <div ng-if="messages.length === 0" class="row bookmarks-container">
            <div class="col col-center">
                <div class="empty-results">
                    <i class="icon ion-bookmark"></i>
                    <h3 class="no-bookmarks">{{"FAVORITES.EMPTY_MSG" | translate}}</h3>
                </div>
            </div>
        </div>
        <div class="list category-feeds">
            <a ng-repeat="message in messages track by message.id" class="item item-icon-right"
               ng-click="selectMessage(message)">
                <div class="thumbnail-outer">
                    <div class="thumbnail-outer" ng-switch="message.ChannelTypeID">

                        <i ng-switch-when="1" class="thumbnail icon ion-ios-telephone" style="padding-top: 20px;"></i>
                        <i ng-switch-when="2" class="thumbnail icon ion-email" style="padding-top: 20px;"></i>
                        <i ng-switch-when="3" class="thumbnail icon ion-social-twitter" style="padding-top: 20px;"></i>

                    </div>
                </div>
                <div>
                    <span class="title">{{message.OrgID.orgName}}</span>

                    <p class="description">{{message.createdAt | date:'dd.MM.yyyy'}}</p>
                </div>
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
