<ion-view view-title="{{ 'BUSINESS_CONTACT.SEARCH' | translate }}" ng-controller="OrganizationsCtrl" >

    <ion-content ng-show="introVisible">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="{{ 'BUSINESS_CONTACT.SEARCH_FILTER_PLACEHOLDER' | translate }}" ng-model="search.model">
                <a ng-if="search.model != ''"
                   on-touch="search.model=''">
                    <i class="icon ion-ios-close placeholder-icon"></i>
                </a>
            </label>


        </div>
        <ion-refresher
                pulling-text="{{ 'GENERIC.REFRESH' | translate }}"
                on-refresh="reload();">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="organisation in organizations track by organisation.id" ng-click="selectOrganisation(organisation);">
                {{organisation.orgName}}
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                ng-if="!noMoreItemsAvailable"
                on-infinite="loadNext()"
                distance="10%">
        </ion-infinite-scroll>
    </ion-content>
    <ion-content ng-hide="introVisible">
        <div ng-include src="'intro.html'"></div>
    </ion-content>
</ion-view>