<ion-view view-title="Search companies" ng-controller="OrganizationsCtrl" ng-init="load();">
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="search.model">
                <a ng-if="search.model != ''"
                   on-touch="search.model=''">
                    <i class="icon ion-ios-close placeholder-icon"></i>
                </a>
            </label>


        </div>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="load();">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="organisation in organizations" ng-click="selectOrganisation(organisation);">
                {{organisation.orgName}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>