<ion-view class="profile-view" ng-controller="AuthorizationCtrl">
    <ion-header-bar class="bar app-top-bar bar-header" align-title="center"><button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item"><i class="icon ion-ios-arrow-back"></i>
        <span class="back-text"><span class="default-title">Back</span><span class="previous-title hide">undefined</span></span></button><div class="buttons buttons-left header-item"><span class="left-buttons">
                <button class="button button-icon button-clear" ui-sref="auth.signup">
                    {{'GENERIC.CLOSE' | translate}}
                </button>
            </span></div><div class="title title-center header-item" style="left: 45px; right: 45px;"><span class="nav-bar-title">
        <span class="ng-binding">{{'GENERIC.PRIVACY_POLICY' | translate}}</span>
    </span></div>
    </ion-header-bar>
    <ion-content>
        <iframe style="width: 100%; height: 100%;" src="http://www.mplify.nl/-temporary-slug-fe56b1f7-97e5-46fc-9835-0327a9cdb7bb?hs_preview=hXKmSMPB-3990019867"></iframe>
    </ion-content>
</ion-view>