<ion-view>
    <ion-header-bar>
        <h1 class="title">{{'REGISTER.TITLE' | translate}}</h1>
        <div class="buttons">
            <button class="button button-clear" ui-sref="root">{{'GENERIC_CLOSE' | translate}}</button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" ng-controller="AuthorizationCtrl">
        <form name="registerForm" ng-submit="doRegister()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" name="UserName" ng-model="registerData.UserName" ng-change="resetValidators('UserName');" required>
                </label>
                <label class="item item-input" ng-show="!registerForm.UserName.$pristine && registerForm.UserName.$invalid">
                    <p ng-show="registerForm.UserName.$error.required">{{'USERNAME_REQUIRED_VALIDATOR' | translate}}</p>
                    <p ng-show="registerForm.UserName.$error.unique">{{'USERNAME_NOT_UNIQUE_VALIDATOR' | translate}}</p>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'PASSWORD' | translate}}</span>
                    <input type="password" name="Password" ng-model="registerData.Password" ng-change="resetValidators('Password');" ng-minlength="6" ng-maxlength="50" required>
                </label>
                <label class="item password-complexity row" ng-show="passwordComplexity">
                    <div class="col" ng-class="passwordComplexity"></div>
                </label>
                <label class="item item-input" ng-show="!registerForm.Password.$pristine && registerForm.Password.$invalid">
                    <p ng-show="registerForm.Password.$error.minlength">{{'PASSWORD_MIN_LENGTH_VALIDATOR' | translate}}</p>
                    <p ng-show="registerForm.Password.$error.maxlength">{{'PASSWORD_MAX_LENGTH_VALIDATOR' | translate}}</p>
                </label>

                <label class="item item-input">
                    <span class="input-label">{{'REGISTER.MOBILE' | translate}}</span>
                    <input type="tel" pattern="+[0-9]*" ng-model="registerData.mobile">
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'REGISTER.EMAIL' | translate}}</span>
                    <input type="email" name="Email" ng-model="registerData.email" required>
                </label>
                <label class="item item-input" ng-show="!registerForm.Email.$pristine && registerForm.Email.$invalid">
                    <p ng-show="registerForm.Email.$error.required">{{'EMAIL_REQUIRED_VALIDATOR' | translate}}</p>
                </label>
                <label class="item">
                    <button class="button button-block button-assertive wrppr-action-button" ng-disabled="registerForm.$invalid" type="submit">{{'REGISTER.SUBMIT_BUTTON' | translate}}</button>
                </label>
            </div>
        </form>
        <div>

        </div>
    </ion-content>
</ion-view>
