
<ion-view class="profile-view" ng-controller="UserCtrl">
    <ion-nav-title>
        <span>{{localUser.UserName}}</span>
    </ion-nav-title>
    <ion-content>
        <div class="top-content row">
            <div class="profile-container">
                <div class="user-image-container">
                    <pre-img ratio="_1_1" helper-class="rounded-image">
                        <img class="user-image" ng-src="{{localFBUser.picture}}">
                    </pre-img>
                </div>
                <div class="user-name">{{localUser.UserName}}</div>
                <div class="user-twitter">{{user.email}}</div>
                <div class="user-twitter">{{user.createdAt | date:'medium' }}</div>
            </div>
            <div class="user-background-image-outer">
                <div multi-bg="['{{localFBUser.picture}}']"></div>
            </div>
        </div>
        <div class="bottom-content">
            <div class="user-bio">
                <p></p>
            </div>
        </div>


    </ion-content>
    <ion-footer-bar class="post-footer bar bar-footer bar-dark">
        <div class="row">
            <div class="col col-50 col-offset-10 col-center">
                <a class="button button-icon icon icon-right ion-at"  ng-click="switchLanguage();"></a>
            </div>
            <div class="col col-50 col-offset-10 col-center">
                <a class="button button-icon icon icon-right ion-android-walk"  ng-click="logout();"></a>
            </div>


        </div>
    </ion-footer-bar>
</ion-view>
