<ion-modal-view>
    <ion-header-bar align-title="left">
        <h1 class="title">User Correct</h1>
        <div class="buttons">
            <button class="button button-clear" ui-sref="root">{{'GENERIC_CLOSE' | translate}}</button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" ng-controller="AuthorizationCtrl">
        <form name="userCorrectForm" ng-submit="submitUserCorrect()" novalidate>
            <div class="list">
                <label class="item">
                    Here should be a description what 'User correct' feature means
                </label>


                <label class="item item-input">
                    <span class="input-label">Comment</span>
                    <input type="text" name="username" ng-model="userCorrect.comment">

                </label>

                <label class="item">
                    <button class="button button-block button-assertive wrppr-action-button" ng-disabled="userCorrectForm.$invalid" type="submit">Send</button>
                </label>


            </div>
        </form>
    </ion-content>
</ion-modal-view>