<ion-modal-view>
    <ion-header-bar align-title="left">
        <h1 class="title">{{'GENERIC.SUPPORT' | translate}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal();">{{'GENERIC_CLOSE' | translate}}</button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" ng-controller="AuthorizationCtrl">
        <form  ng-submit="submitUserCorrect('support', comment )" novalidate>
            <div class="list">
                <label class="item">
                    {{'GENERIC.SUPPORT_MSG' | translate}}
                </label>


                <label class="item item-input">
                    <span class="input-label">{{'GENERIC.COMMENT' | translate}}</span>
                    <input type="text" name="username" ng-model="comment">

                </label>

                <label class="item">
                    <button class="button button-block button-assertive wrppr-action-button"  type="submit">Save</button>
                </label>


            </div>
        </form>
    </ion-content>
</ion-modal-view>