
<ion-view class="profile-view" ng-controller="UserCtrl">
    <ion-nav-title>
        <span>{{localUser.UserName}}</span>
    </ion-nav-title>
    <ion-content>
        <div class="top-content row">
            <div class="profile-container">
                <div class="user-image-container">
                    <pre-img ratio="_1_1" helper-class="rounded-image">
                        <img class="user-image" ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg"  spinner-on-load>
                    </pre-img>
                </div>
                <div class="user-name">{{localUser.UserName}}</div>
                <div class="user-twitter">{{user.email}}</div>
                <div class="user-twitter">{{user.createdAt | date:'medium' }}</div>
            </div>
            <div class="user-background-image-outer">
                <div multi-bg="['{{localFBUser.picture}}']"></div>
            </div>
        </div>
        <div class="bottom-content">
            <div class="user-bio">
                <p></p>
            </div>
        </div>
        <div class="tabs tabs-icon-top">
            <a class="tab-item">
                <i class="icon ion-at" ng-click="switchLanguage();"></i>
                English version
            </a>
            <a class="tab-item" ng-click="logout();">
                <i class="icon ion-android-walk"></i>
                {{ 'MENU.LOGOUT' | translate }}
            </a>
        </div>
    </ion-content>
</ion-view>
