<ion-view view-title="{{localUser.UserName}}" ng-controller="UserCtrl">
    <ion-content>
        <ion-list >
                <ion-item class="item-avatar">
                    <img ng-src="{{localUser.picture}}" src="../img/photo.png">
                    <h2>{{localUser.UserName}}</h2>
                    <p>{{localUser.createdAt | date:'medium' }}</p>
                    <p>
                        Basic Auth: {{sessionKey}}
                    </p>
                </ion-item>
                <ion-item class="item-avatar">
                    <img ng-src="{{localFBUser.picture}}" src="../img/photo.png">
                    <h2>{{localFBUser.name}}</h2>
                    <h2>{{localFBUser.email}}</h2>
                    <p>{{localFBUser.authResponse.expiresIn | date:'medium' }}</p>
                    <p>
                        {{localFBUser.authResponse.accessToken}}
                    </p>
                </ion-item>


        </ion-list>


    </ion-content>
</ion-view>