<ion-view class="login-view auth-view" cache-view="false" can-swipe-back="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata' ng-controller="AuthorizationCtrl">
          <form name="loginForm" ng-submit="doLogin()" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title="{{'LOGIN_TITLE' | translate}}">
                <div class="list">
                  <label class="item item-input">
                    <input type="text" placeholder="{{'USERNAME' | translate}}" name="username" ng-model="loginData.UserName" required>
                  </label>
                    <label class="item item-input" ng-show="!loginForm.username.$pristine && loginForm.username.$invalid">
                        <p ng-show="loginForm.username.$error.required">{{'USERNAME_REQUIRED_VALIDATOR' | translate}}</p>
                    </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="{{'PASSWORD' | translate}}" name="password" ng-model="loginData.Password" required show-hide-input required>
                  </label>
                    <label class="item item-input" ng-show="!loginForm.password.$pristine && loginForm.password.$invalid">
                        <p ng-show="loginForm.password.$error.required">{{'PASSWORD_REQUIRED_VALIDATOR' | translate}}</p>
                    </label>
                </div>
              </my-tab>
            </my-tabs>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-disabled="loginForm.$invalid">
                  {{'LOGIN_BUTTON' | translate}}
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.restorepassword">
            {{'FORGOT_PASSWORD_BUTTON' | translate}}
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            {{'DASHBOARD.REGISTER' | translate}}
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
