<ion-view class="walkthrough-view" cache-view="false" ng-controller="DashboardCtrl">
    <ion-content scroll="false">
        <div class="top-content row" style="height: 65%;">
            <div class="col col-center">
                <h2 style="text-align: center; width: 100%; color: white;">{{'DASHBOARD.TITLE' | translate}}</h2>

                <h3 style="text-align: center; width: 100%; color: #A9A9A9;">{{'DASHBOARD.DESCRIPTION' | translate}}</h3>
            </div>
        </div>

        <div class="bottom-content" style="height: 35%;">
            <div class="row">
                <div class="col col-center">
                    <a class="login button button-block button-stable facebook-button" ng-controller="FacebookCtrl"
                       ng-show="facebookLoginEnabled" ng-init="facebookAutoLogin()" ng-click="facebookManualLogin()">
                        <i class="icon ion-social-facebook"></i>
                        {{'DASHBOARD.FACEBOOK_LOGIN' | translate}}
                    </a>

                    <a class="login button button-block button-stable" ng-controller="TwitterCtrl"
                       ng-show="twitterLoginEnabled" ng-click="twitterLogin()">
                        {{'DASHBOARD.TWITTER_LOGIN' | translate}}
                    </a>


                </div>


            </div>
            <div class="row">
                <div class="col col-center" style="text-align: center;">
                    <a class="button button-small button-clear button-light" ui-sref="auth.login">
                        {{'LOGIN_BUTTON' | translate}}
                    </a>
                </div>
                <div class="col col-center" style="text-align: center;">
                    <a class="button button-small button-clear button-light" ui-sref="auth.signup">
                        {{'DASHBOARD.REGISTER' | translate}}
                    </a>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
